[user]
	name = whyrusleeping
	email = why@ipfs.io
	signingkey = 72DC2B6B
[alias]
	co = checkout
	ci = commit
	ls = status
	rf = checkout --
	au = add -u
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	branches = for-each-ref --sort=-committerdate refs/heads/
[core]
	editor = nvim
	whitespace = trailing-space, space-before-tab
[color]
	ui = true
[merge]
	tool = meld
[push]
	default = matching
[apply]
	whitespace = fix
[url "https://chromium.googlesource.com/a/"]
	insteadOf = https://chromium.googlesource.com/
	insteadOf = https://chromium.googlesource.com/a/
